
<div class="form-style-5">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <fieldset>
    <legend>Place an Order</legend>

    <label for="ticker">Ticker:</label>
    <input id="ticker" type="text" name="ticker" formControlName="ticker" placeholder="Ticker Symbol">
    
    <label for="asset">Asset Type:</label>
    <select id="asset" name="asset" formControlName="asset">
      <optgroup label="asset" >
        <option value="stock">Stock</option>
        <option value="option">Option</option>
      </optgroup>
    </select>

    <label for="order_type">Order Type:</label>
    <select id="order_type" name="order_type" formControlName="order_type">
      <optgroup label="order_type" >
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
      </optgroup>
    </select>

    <label for="num_shares">Number of Shares:</label>
    <input id="num_shares" type="text" name="num_shares" formControlName="num_shares" placeholder="Number of Shares">
    
    <label for="price">Price:</label>
    <input id="price" type="text" name="price" formControlName="price" placeholder="Price">

    </fieldset>
    <input type="submit" value="Submit Order" />
    </form>
    </div>