<p>order-item works!</p>


<div class="order-item">
    <div>Ticker: {{ order.ticker }}</div>

    <!-- <img [src]="imageUrl">
  
    <div>
        <h2>
            <a class="caption-left" [routerLink]="['/filmDetail', film.id]">
                {{ film.title }}
            </a>
            <span class="caption-right">
                {{ film.price | currency:'GBP':'symbol'}}
            </span>
        </h2>
    </div>

    <div class="caption-normal">{{ film.blurb }}</div>
  
    <div class="caption-normal">
        <app-review [film]="film"></app-review>
    </div> -->


</div>
