<div class="processedOrders">
   <h2>Orders</h2>
</div>

<div class="container">

    <table id="myTable" class="styled-table">
       <thead>
          <tr>
             <th>Id</th>
             <th>Ticker</th>
             <th>Asset</th>
             <th>Price</th>
             <th>Number of Shares</th>
             <th>Order Type</th>
             <th>Time Submitted</th>
             <th>Status Code</th>
             <th>Delete Order</th>

          </tr>
       </thead>
       <tbody>
            <tr *ngFor="let order of orders | async">
               <td>{{order.id}}</td>
               <td>{{order.ticker}}</td>
               <td>{{order.asset == "stock" ? "Stock" : "Option"}}</td>
               <td>${{order.price}}</td>
               <td>{{order.num_shares}}</td>
               <td>{{order.order_type == "buy" ? "Buy" : "Sell"}}</td>
               <td>{{order.time_of_day}}</td>
               <td>{{order.status_code}}</td>
                <td><input type="button" value="Remove" (click)="remove(order.id)"></td> 
                
            </tr>
        </tbody>
        

    </table> 
    
 </div>
